// item input text style

.lithe-course-input-text {
  margin-bottom: 0 !important;

  > div {
    margin-bottom: 0 !important;
    padding: 10px 0px;
  }
}

.lithe-course-module-title-input {
  > div {
    padding: 0px !important;
    margin: 0px !important;
  }
}
