.wpaa-repeatable-items .item-row,
.lithe-course-features .feature-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.wpaa-repeatable-items .handle,
.lithe-course-features .handle {
  cursor: move;
  color: #999;
}

.wpaa-repeatable-items .item-text,
.lithe-course-features .feature-text {
  width: 100%;
}

.wpaa-repeatable-items .remove-item,
.lithe-course-features .remove-feature {
  color: #dc3232;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 0;
}

.wpaa-repeatable-items .remove-item:hover,
.lithe-course-features .remove-feature:hover {
  color: #dc3232;
}

.lithe-course-features .feature-icon {
  width: 150px;
}

.wpaa-repeatable-items .add-item,
.lithe-course-features .add-feature {
  margin-top: 10px;
}
